
h1{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

body{
    background-color: black;
    text-align: center;
}

html{
    text-align: center;
}
table{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
